logfile = libraryiq_export.log

tempdir = tmp
archive = archive

# This needs to match actor.org_unit.shortname
# comma separated list of branch/system shortnames, case insensitive

librarynames = BR1, BR2, BR3, BR4

# Include descendants?
# any value here is considered "yes"
include_org_descendants = 1

# How much of the database to read per loop
# too small will make this slow, too high will make it slow too
chunksize = 500

filenameprefix = library

#
#SFTP Server to drop off
#

ftphost = sample.com
ftplogin = sample
ftppass = sample
remote_directory = /sample/sample2/sample3

# only 1 email address for alwaysemail
alwaysemail = sample@sample.org

fromemail = no-reply-sample@sample.org
erroremaillist = sample@sample.org, another2@sample.org
successemaillist = sample@sample.org, another@sample.org
